<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Size</th>
      <th>Good with Kids</th>
      <th>Doesn't Shed</th>
      <th>Very Little Grooming</th>
      <th>High Energy</th>
      <th>Good Health</th>
      <th>Doesn't Bark</th>
      <th>Intelligence</th>
      <th>Easy to Train</th>
      <th>Tolerates Hot</th>
      <th>Tolerates Cold</th>
    </tr>
  </thead>
  <tbody>
    {{#each breeds}}
    <tr>
      <td>
        <a href="https://en.wikipedia.org/wiki/{{name}}" target="_blank">
          <img src="img/{{id}}.jpg" title="{{name}}"/>
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/{{name}}" target="_blank">
          {{name}}
        </a>
      </td>
      <td>
        <span class="size-{{size}}">{{size}}</span>
      </td>
      <td>
        <span class="size-{{kids}}">{{kids}}</span>
      </td>
      <td>
        <span class="size-{{shed}}">{{shed}}</span>
      </td>
      <td>
        <span class="size-{{groom}}">{{groom}}</span>
      </td>
      <td>
        <span class="size-{{energy}}">{{energy}}</span>
      </td>
      <td>
        <span class="size-{{health}}">{{health}}</span>
      </td>
      <td>
        <span class="size-{{barks}}">{{barks}}</span>
      </td>
      <td>
        <span class="size-{{intelligence}}">{{intelligence}}</span>
      </td>
      <td>
        <span class="size-{{train}}">{{train}}</span>
      </td>
      <td>
        <span class="size-{{hot}}">{{hot}}</span>
      </td>
      <td>
        <span class="size-{{cold}}">{{cold}}</span>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td colspan="13">
        <a href="https://github.com/ericdrowell/DogBreedChart/blob/master/dogs.json" target="_blank">Edit or view the raw data</a>
      </td>
    </tr>
  </tbody>
</table>